data/prime_numbers_rdd.txt/_SUCCESS
data/prime_numbers_rdd.txt/._SUCCESS.crc
data/prime_numbers_rdd.txt/.part-00000.crc
data/prime_numbers_rdd.txt/.part-00001.crc
data/prime_numbers_rdd.txt/.part-00002.crc
data/prime_numbers_rdd.txt/.part-00003.crc
data/prime_numbers_rdd.txt/.part-00004.crc
data/prime_numbers_rdd.txt/.part-00005.crc
data/prime_numbers_rdd.txt/.part-00006.crc
data/prime_numbers_rdd.txt/.part-00007.crc
data/prime_numbers_rdd.txt/.part-00008.crc
data/prime_numbers_rdd.txt/.part-00009.crc
data/prime_numbers_rdd.txt/.part-00010.crc
data/prime_numbers_rdd.txt/.part-00011.crc